
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px 20px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
}

.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #EEA849 100%);
}
.btn-2 {
    background-image: linear-gradient(to right, #115293 0%, #1976d2 51%, #4791db 100%);
}


.btn-sign-in {
    border-radius: 30px;
    min-width: 150px;
    background-color: #ffffff;
    color: #363795;
}


.btn-sign-up {
    background: linear-gradient(to right, #F46B45 0%, #f88d71 51%, #EEA849 100%);
    border-radius: 30px;
    min-width: 150px;
}