.Layout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Layout main {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: row;*/
    /*flex-grow: 1;*/
    padding-left: 20px;;
}

.cnt-menu {
    width: 200px;
    height: 100%;
    background: linear-gradient(177.29deg, #1488CC 0.83%, #2B32B2 99.13%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}