.Member{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-around;
    border: 1px solid black;
    color: black;
    margin: 0 10px;
    box-sizing: border-box;
}

.Member p {
    padding: 0px 5px;
    margin: 0px 5px;
    min-width: 25%;


}

.Member:hover {
    background: rgba(0,0,255,.1);
    transition: background .3s ease-in-out;
}

