
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-margin {margin: 5px;
}

.RentItem-bg {
  background: #000000;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;;
  align-items: center;
  flex-wrap: wrap;

  max-width: 500px;
  min-width: 192px;
  margin: 20px auto;
  color: #FFFFFF;
  line-height: 25px;
}

.RentItem-text {

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.RentItem-id-box {
  background: linear-gradient(90deg, #F46B45 0%, #eea849 100%);
  border-radius: 15px;
  width: 145px;
  height: 60px;

  text-align: center;
  font-weight: 600;
  font-size: 24px;


  display: flex;
  justify-content: center;
  align-items: center;
}



.icon {
  width: 54px;
  height: 54px;
  fill: #FFFFFF;
  filter: invert(100%);
}


.lg-blue {
  background: linear-gradient(177.29deg, #1488CC 0.83%, #2B32B2 99.13%);
}


.sideMenu {
  width: 200px;
  height: 100%;
  background: linear-gradient(177.29deg, #1488CC 0.83%, #2B32B2 99.13%);
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-no-point {list-style-type: none;}

.logo {
  width: 150px;
  height: 50px;
  background-size: contain;
  background-image: url("logow.png");
}


.userTable {

  display: table;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
  padding: 10px;
  margin: 20px;
}

.main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.act-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.btn-action-back {
  background: #000000;
}

.btn-action-take {
  background: linear-gradient(90deg, #F46B45 0%, #EEA849 100%);
}

.act-btn-main {
  width: 200px;
  height: 80px;
  border-radius: 15px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 40vw;
  margin: 0 auto;
  min-height: 100vh;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  min-width: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #EEA849 100%);
}
.btn-2 {
  background-image: linear-gradient(to right, #115293 0%, #1976d2 51%, #4791db 100%);
}