.Add {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    border-radius: 15px;
    height: 600px;

}

.Add > div{
    width: 100%;
    max-width: 600px;
    padding: 0px 20px;
}



